<!DOCTYPE html>
<html>
<head>
  <title>FirebaseHack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>



  <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDPjnbnqYvtQpYQLxo-mTvzg_hbPwiEKSw",
    authDomain: "tescohack.firebaseapp.com",
    databaseURL: "https://tescohack.firebaseio.com",
    storageBucket: "tescohack.appspot.com",
    messagingSenderId: "845500793716"
  };
  var setMessage = function(data) {
    var val = data.val();

    console.log(val);
    val = JSON.stringify(val);
    console.log(val);
    var xmlhttp = new XMLHttpRequest();

    // xmlhttp.onreadystatechange = function() {
    //     if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
    //        if (xmlhttp.status == 200) {
    //            document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
    //        }
    //        else if (xmlhttp.status == 400) {
    //           alert('There was an error 400');
    //        }
    //        else {
    //            alert('something else other than 200 was returned');
    //        }
    //     }
    // };
    var url = "/chats?value=" + val;
    // var url = "http://localhost:8080/bot_index?value=" + val;

    xmlhttp.open("GET", url, true);
    xmlhttp.send();

    // this.displayMessage(data.key, val.name, val.text, val.photoUrl, val.imageUrl);
  };
  firebase.initializeApp(config);
  var messagesRef =  firebase.database().ref('messages');
  messagesRef.limitToLast(12).on('child_added', setMessage);
  // console.log("helooo");
  // console.log(messagesRef);

</script>


</body>
</html>
